* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 35pt;
  font-weight: bolder;
  text-align: center;
}

.box {
  margin-left: 15px;
}

.filters .panel-body .panel {
  padding: 15px;
  margin-left: 15px;
}

.filters {
  margin-top: 5px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

#map {
  float: center;
  margin-left:15px;
  height: 300px;
  width: 97%;
  border: white;
  border-style: outset;
  border-width: thick;
}

/* Set Pop Up Style */
h3 {
  font-size: medium;
}

p {
  font-size: small;
}

footer {
  text-align: center;
  padding: 3px;
  color: white;
}
